[Unit]
Description=Mariana
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
WorkingDirectory=/etc/mar/Project-Mariana
ExecStartPre=/usr/bin/git pull
ExecStart=/usr/bin/python3 /etc/mar/Project-Mariana/proxyserver.py

[Install]
WantedBy=multi-user.target
